<ul>
  <li>
    <div class="full-screen bg-gray-50 flex items-center">
      <section class="w-auto bg-cover bg-center py-32" style="background-image: url('https://images.unsplash.com/photo-1571019613454-1cb2f99b2d8b?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8Zml0bmVzc3x8fHx8fDE2ODIxMTI3NDM&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080');">
        <div class="container mx-auto text-center text-white">
          <h1 class="text-5xl font-medium mb-6">Welcome to BodyMake</h1>
          <p class="text-xl mb-12">このアプリでは、筋トレ初心者でも短い時間で簡単に効果的な筋トレを自宅で行う事ができます。</p>
          <a href="#" class="bg-indigo-500 text-white py-4 px-12 rounded-full hover:bg-indigo-600">早速始める</a>
        </div>
      </section>
    </div>
  </li>
  <li>
    <div class="h-screen bg-gray-50 flex items-center">
      <section class="bg-cover bg-center py-32 w-full">
        <div class="container mx-auto text-left text-black">
          <div class="flex items-center">
            <div class="w-1/2">
              <h1 class="text-5xl font-medium mb-6">サンプルタイトル</h1>
              <p class="text-xl mb-12">説明文〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜</p>
              <a href="#" class="bg-indigo-500 text-white py-4 px-12 rounded-full hover:bg-indigo-600">Demo</a>
            </div>
            <div class="w-1/2 pl-16">
              <img src="https://images.unsplash.com/photo-1541694458248-5aa2101c77df?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8Zml0bmVzc3x8fHx8fDE2ODIxMTIxMTA&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080" class="h-64 w-full object-cover rounded-xl" alt="Layout Image">
            </div>
          </div>
      </section>
    </div>
  </li>
  <li>
    <div class="h-screen bg-gray-50 flex items-center">
      <section class="bg-cover bg-center py-32 w-full">
        <div class="container mx-auto text-left text-black">
          <div class="flex items-center">
            <div class="w-1/2 pl-16">
              <img src="https://images.unsplash.com/photo-1594737626072-90dc274bc2bd?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8Zml0bmVzc3x8fHx8fDE2ODIxMTI2MTM&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080" class="h-64 w-full object-cover rounded-xl" alt="Layout Image">
            </div>
            <div class="w-1/2">
              <h1 class="text-5xl font-medium mb-6">サンプルタイトル</h1>
              <p class="text-xl mb-12">説明文〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜</p>
              <a href="#" class="bg-indigo-500 text-white py-4 px-12 rounded-full hover:bg-indigo-600">Demo</a>
            </div>
          </div>
      </section>
    </div>
  </li>
</ul>
<!--<div class="md:flex items-center justify-center">
    <div class="md:w-1/2 md:pr-8 mb-8 md:mb-0">
      <h2 class="text-3xl font-bold mb-2">筋トレが短時間でできる</h2>
      <p class="text-gray-700">このアプリでは、筋トレ初心者でも短い時間で効果的な筋トレができます。</p>
      <p class="text-gray-700">YouTubeから厳選された筋トレ動画を取得し、それをアプリ上で見ることができます。</p>
      <%= link_to "動画を見る", "#", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
    </div>
  </div>-->